# Backend
DATABASE_URL=postgresql://fa_user:fa_pass@localhost:5432/family_accountant
JWT_SECRET=change_me_jwt_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
PORT=3000

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
